@import '../../../variables'
  
.headerModalOverlay
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.4)
  width: 100%
  height: 100vh
  align-items: center
  justify-content: center
  overflow: auto
  z-index: 20

.headerModal
  width: 300px
  height: 400px
  background-color: $light-modal
  box-shadow: 1px 1px 8px darken(#9e9e9e, 10%), -1px -1px 8px darken(#9e9e9e, 10%)
  position: relative
  animation: offset .3s
  border-radius: 8px
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #9e9e9e
    &-title
      font-size: 24px
      margin: 15px 18px
  &__body
    display: flex
    justify-content: space-between
    align-items: center
    margin: 20px
    span
      display: inline-block
      font-size: 20px
  &__footer
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    border-top: 1px solid #9e9e9e

@keyframes offset
  0%
    opacity: 0
    transform: translateY(-40px)
  100%
    opacity: 1
    transform: translateY(0)

/*---------------USER MODAL----------------*/

.userModal
  min-width: 1000px
  height: auto
  animation: offset .3s
  &__header
    padding: 5px 15px
    &-title
      display: flex
      align-items: center
    i
      margin-right: 15px
      font-size: 30px
      color: $accent


.headerModal__wrapper
  display: flex
  padding: 15px 30px
  &_item
    font-weight: bold
    margin: 15px 0
    span:nth-child(1)
      width: 200px
      display: inline-block
  &-info
    flex: 1
    &:first-child
      border-right: 1px solid #9e9e9e
    &:last-child
      margin-left: 30px

.span-userData
  margin-left: 20px
/*---------------USER MODAL----------------*/


/*---------------SWITCH COLOR----------------*/

.headerModal.theme-dark
  background-color: $dark-modal
  box-shadow: 1px 1px 8px darken(#9e9e9e, 20%), -1px -1px 8px darken(#9e9e9e, 20%)

.App.theme-dark .userModal
  background-color: $dark-modal
  box-shadow: 1px 1px 8px darken(#9e9e9e, 20%), -1px -1px 8px darken(#9e9e9e, 20%)

/*---------------SWITCH COLOR----------------*/
