@import '../../../variables'
  
.headerModalOverlay
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.4)
  width: 100%
  height: 100vh
  align-items: center
  justify-content: center
  overflow: auto
  z-index: 20

.headerModal
  width: 300px
  height: 400px
  background-color: $light-modal
  box-shadow: 1px 1px 8px darken(#9e9e9e, 10%), -1px -1px 8px darken(#9e9e9e, 10%)
  position: relative
  animation: offset .3s
  border-radius: 8px
  &__header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #9e9e9e
    &-title
      font-size: 24px
      margin: 15px 18px
  &__body
    display: flex
    justify-content: space-between
    align-items: center
    margin: 20px
    span
      display: inline-block
      font-size: 20px
  &__footer
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    border-top: 1px solid #9e9e9e

@keyframes offset
  0%
    opacity: 0
    transform: translateY(-40px)
  100%
    opacity: 1
    transform: translateY(0)

/*---------------USER MODAL----------------*/

.userModal
  min-width: 1000px
  height: auto
  animation: offset .3s
  &__header
    padding: 5px 15px
    &-title
      display: flex
      align-items: center
    i
      margin-right: 15px
      font-size: 30px
      color: $accent


.headerModal__wrapper
  display: flex
  padding: 15px 30px
  &_item
    font-weight: bold
    margin: 15px 0
    span:nth-child(1)
      width: 200px
      display: inline-block
  &-info
    flex: 1
    &:first-child
      border-right: 1px solid #9e9e9e
    &:last-child
      margin-left: 30px

.task-info__wrapper
  width: 100%
  margin-left: 30px
  border: none
  
.span-userData
  margin-left: 20px
  
.taskDesc
  margin: 10px 23px 0 0
  word-wrap: break-word
  font-weight: normal

/*---------------USER MODAL----------------*/

/*---------------Form registry----------------*/

.form__block
  width: 100%
  height: 80%
  display: flex
  justify-content: center
  align-items: center

.headerModal__form
  width: 400px

.form__block
  .headerModal__body
    height: 70%
    margin: 0
    margin-bottom: 20px
    form
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-between
    .form__box
      width: 100%
      text-align: center
      input:first-child
        margin: 20px 0
    
.form__block
  .headerModal
    box-shadow: 1px 1px 8px darken(#9e9e9e, 2%), -1px -1px 8px darken(#9e9e9e, 2%)
    &__header
      background-color: $bg-footer_header
    &__header-title
      width: 100%
      text-align: center
      font-size: 25px
      letter-spacing: 2px
      font-weight: 700
    &__body
      display: block
      input
        margin: 10px 0
        padding: 8px 14px
        font-size: 15px
        outline: none
        border: none
        border-radius: 5px
        border: 1px solid #ccc
        transition: .2s 
        width: 80%
        &:focus
          border: 1px solid #000
  .btn-actions
    width: 100%
    text-align: center
  .btn-edit
    font-size: 22px
  .btn-create
    display: inline-block
  .btn-edit, .btn-create
    padding: 4px 14px
    width: 80%
    margin-top: 6px

.error
  padding: 8px 35px
  font-size: 16px
  background-color: rgba(#f13e3e, .4)

.modal-error
  font-size: 38px
  margin-right: 15px
  .fa-warning
    margin-right: 15px

.headerModal-error
  display: flex
  align-items: center
  justify-content: space-around
  box-shadow: 1px 1px 8px 1px #c24545, -1px -1px 8px 1px #c24545

.headerModal-error.theme-dark
  box-shadow: 1px 1px 8px 1px #c24545, -1px -1px 8px 1px #c24545



/*---------------Form registry----------------*/

