@import '../../../variables'

.newUser__form
  position: relative
  padding: 15px
  &_wrapper
    display: flex
    &-inner
      padding: 10px 15px
      flex-basis: 50%
      float: right
      &:first-child
        border-right: 1px solid $bg-dark
  &_row
    margin-bottom: 15px
    width: 100%
    label
      margin-right: 10px
    input
      width: 100%
  &-btn
    text-align: right