@import '../../variables'

.footer
  position: absolute
  z-index: 2
  bottom: 0
  left: 0
  height: 60px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: $bg-footer_header
  font-size: 20px
  box-shadow: -1px -1px 8px darken($light-theme, 15%)
